.left  {
    float: left;
}

.clear {
     clear:both;
 }

body {
    
    background-color: #222;
    
}

#branded_title {
    
    font-family: 'Jockey One', sans-serif;
    font-size: 128px;
    color: #ffae40;
    
}

h2 .subtitle {
   
    color: #ffae40; 
    
}


.remove, .add_next, .save_cuepoint {
    
}
 
.highlighted {
    
    background-color: lightgreen;
    
}
