.left  {
    float: left;
}

.clear {
     clear:both;
 }

#branded_title {
    
    font-family: 'Jockey One', sans-serif;
    font-size: 128px;
    
}

#player {
    float: left;
    clear:both;
    width: 320;
    height: 195;

.remove, .add_next, .save_cuepoint {
    
}
 
.highlighted {
    
    background-color: lightgreen;
    
}
