.left  {
    float: left;
}

.clear {
     clear:both;
 }

#player {
    float: left;
    clear:both;
    width: 320;
    height: 195;

}

#timer {
    clear:none;
}

.cuepoint_text {
    

    margin: 0px 20px;
    
} 


.remove, .add_next {
    
}
 
.highlighted {
    
    background-color: lightgreen;
    
}
